.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
}

label {
  font-size: 1.2em;
}

select {
  font-size: 1em;
  padding: 5px;
  margin-bottom: 20px;
}

.chart-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  flex-wrap: wrap; 
  margin-top: 20px;
  overflow-x: auto; 
}

.chart-container img {
  width: 350px; 
  height: 300px; 
  object-fit: cover; 
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px; 
}

.chart-container p {
  font-size: 1.2em;
  color: #333;
  margin-top: 20px;
}
